<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>尾部</title>
    <style>
        #footer {
            margin: 20px auto;
            text-align: center;
            font-size: 12px;
            line-height: 2;
        }
    </style>
</head>
<body>
    <p id="footer">CopyRight 2009 School of Management,GDUT. 广东工业大学 管理学院<br />
        <a href="javascript:;" style="color:red">联系我们</a> | 广东工业大学 电话：86-020-87083017 E-mail: glxy@gdut.edu.cn<br />
        地址：中国 广州 天河区 迎龙路 161号 邮编：510520
    </p>
</body>
</html>